*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: chartreuse;
    font-family: Arial, fantasy;
}

#container{
    width: 80%;
    height: 80%;
    margin: 0px auto;

}

header{
    width: auto;
    height: auto;
}

#logo{
    display:block;
    margin:auto;
    margin-top: 20%;
}

#initial-buttons{
    margin-top: 5%;

    text-align: center;
}
#room-button{
    margin-right: 15px;
    background: red;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: white;
    font-family: Calibri;
    font-size: x-large;
    padding: 5px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
#room-button:hover{
    background: #d40000;

}
#new-room-button{
    margin-left: 15px;
    background: red;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: white;
    font-family: Calibri;
    font-size: x-large;
    padding: 5px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#new-room-button:hover{
    background: #d40000;
}
